<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" stopOnFailure="true" stopOnError="true" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd">
  <testsuites>
    <testsuite name="wds-sdk">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php/>
</phpunit>